*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

select{
  width: 50%;
 
  display: block;
  padding:10px 20px;
  margin: 10px auto;
}
.question-card {
 background-color:grey; 
 padding:16px;
 border-radius:16px;
 color:white;
 box-shadow: rgba(50,50,93,.25) 0px 30px 60px -12px,rgba(0,0,0,.3)0px 18px 36px -18px;
 width: 80%;
 height: auto;
 margin:0 auto;
}
ul{
  list-style: none;
}
.btn{
  display: block;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  color:white;
  background-color: darkgray;
  padding:16px;
  border:3px solid white;
  border-radius:20px;
  font-size: 20px;
  margin-top:8px;
}
.button-current{
  border-radius:10px;
  margin:10px;
  padding:16px 24px;
  text-align: center;
  background-color:rgb(234, 151, 123);
  color: white;
  border: 2px solid salmon; 
}
.button-current:hover{
  background-color:rgb(246, 178, 155);
}
.li-success{
  background-color: green;
}
.li-fail{
  background-color:red;
}
.question-text{
  word-break: break-all;
  color:darkblue;
  font-size:24px;
}
.final-results{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: hsl(0, 0%, 0%,.9);
  top:0;
  left: 0;
  color:white;
  z-index: 1;
}
a{
  text-decoration: none;
  color:white;
}
.button{
  background-color: red;
  border:none;color:white;
  padding:16px 24px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  font-weight: bold;
  border-radius:24px;
}

.button:hover {
background-color: rgb(164, 1, 1);
}

